@font-face {
  font-family: "MapoGoldenPier";
  src: url("./MapoGoldenPierA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Allura";
  src: url("./AlluraRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Batang";
  src: url("./Batang.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Name";
  src: url("./Name.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gapyeong";
  src: url("./Gapyeong.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}